<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Welcome to Student Management System</h1>
    <% if (session.userId) { %>
        <p>Welcome, <%= session.userId %></p>
        <a href="/students">Manage Students</a><br>
        <a href="/logout">Logout</a>
    <% } else { %>
        <a href="/register">Register</a><br>
        <a href="/login">Login</a>
    <% } %>
</body>
</html>
